<div class="card">
  <div class="card-body">
    <h1 class="card-title">Welcome to Warden App</h1>
    <hr>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control">
      </div>
      <div class="form-group">
        <label for="password_confirmation">Confirm Password:</label>
        <input type="password" id="password_confirmation" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
